<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihm.e_menu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ihm.e_menu.MenuChildren"
            android:label="@string/title_activity_menu_children" >
        </activity>
        <activity
            android:name="com.ihm.e_menu.MenuSearch"
            android:label="@string/title_activity_menu_search" >
        </activity>
        <activity
            android:name="com.ihm.e_menu.MenuWines"
            android:label="@string/title_activity_menu_wines" >
        </activity>
        <activity
            android:name="com.ihm.e_menu.MenuDrinks"
            android:label="@string/title_activity_menu_drinks" >
        </activity>
        <activity
            android:name="com.ihm.e_menu.Carte"
            android:label="@string/title_activity_carte" >
        </activity>
        <activity
            android:name="com.ihm.e_menu.MenuDesserts"
            android:label="@string/title_activity_menu_desserts" >
        </activity>
        <activity
            android:name="com.ihm.e_menu.ShowMenusAsPopUp"
            android:label="@string/title_activity_show_menus_as_pop_up" >
        </activity>
    </application>

</manifest>