<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihm.e_menu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowMainMenu"
            android:label="@string/title_activity_show_main_menu" >

            <!-- android:parentActivityName="com.ihm.e_menu" -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ihm.e_menu" />
        </activity>
        <activity
            android:name=".MenuCarte"
            android:label="@string/title_activity_menu_carte" >
        </activity>
        <activity
            android:name=".MenuMenus"
            android:label="@string/title_activity_menu_menus" >
        </activity>
        <activity
            android:name=".MenuChildren"
            android:label="@string/title_activity_menu_children" >
        </activity>
        <activity
            android:name=".MenuSearch"
            android:label="@string/title_activity_menu_search" >
        </activity>
        <activity
            android:name=".MenuWines"
            android:label="@string/title_activity_menu_wines" >
        </activity>
        <activity
            android:name=".MenuDrinks"
            android:label="@string/title_activity_menu_drinks" >
        </activity>
        <activity
            android:name=".Carte"
            android:label="@string/title_activity_carte" >
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" >
        </activity>
    </application>

</manifest>